<% provide(:title, "Verify Phone") %>
<h1>Verify your phone number</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>A verification code was sent to <%= @phone %></p>
    <p>Please enter it here:</p>

    <%= form_for(:account_activation) do |f| %>
      <%= f.text_field :code, class: 'form-control' %>
      <%= f.submit "Verify", class: "btn btn-primary" %>
    <% end %>

    <p>Didn't receive a code? <%= link_to "Resend code", account_activation_resend_path %></p>
  </div>
</div>
